<ngb-carousel class="carousel" [showNavigationIndicators]="false">
  <ng-template ngbSlide>
    <img src="/assets/godhavari.avif" alt="Image 1">
    <div class="carousel-caption custom-caption">
      <h1 class="gradient-text">{{ 'carousel.heading1' | translate }}</h1>
      <h1>{{ 'carousel.heading2' | translate }}</h1>
      <button class="btn btn-success" routerLink="/public-form">{{ 'carousel.registerButton' | translate }}</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="/assets/ama-modified.jpeg" alt="Image 2">
    <div class="carousel-caption custom-caption">
      <h1 class="gradient-text">{{ 'carousel.heading1' | translate }}</h1>
      <h1>{{ 'carousel.heading2' | translate }}</h1>
      <button class="btn btn-success" routerLink="/public-form">{{ 'carousel.registerButton' | translate }}</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="/assets/vizag-modified.jpeg" alt="Image 3">
    <div class="carousel-caption custom-caption">
      <h1 class="gradient-text">{{ 'carousel.heading1' | translate }}</h1>
      <h1>{{ 'carousel.heading2' | translate }}</h1>
      <button class="btn btn-success" routerLink="/public-form">{{ 'carousel.registerButton' | translate }}</button>
    </div>
  </ng-template>
</ngb-carousel>
