<div class="main contact-panel" > 
    <div class="contact-text">
        <ul>
            <li>
                <strong>Office of Commissioner of Prohibition &amp; Excise,</strong> <br>Excise Complex, RS No.88-2B, <br>Sai Vihar Apartments, Poultry Farm Road,<br>
                Prasadampadu (V), Vijayawada-521108, <br>Amaravathi, Andhra Pradesh.
            </li>
            <li><strong>Phone:</strong>&nbsp; 0866-2428344/0866-2428345.</li>
        </ul>
   </div>
    <div class="card ">
        <div class="box">
            <div class="img">
            <img src="/assets/support.png.jpeg ">
               
            </div>
            <h2>Our toll free number</h2>
            <p>1800 425 4868</p>
        </div>
</div> 
</div>
<app-footer></app-footer>