<app-carousel></app-carousel>
<app-latest-news></app-latest-news>

<section class="about-us-section">
  <div class="container">
    <div class="about">
      <h1>{{ 'aboutUs.title' | translate }}</h1>
      <p>{{ 'aboutUs.description1' | translate }}</p>
      <p>{{ 'aboutUs.description2' | translate }}</p>
    </div>
    <div class="fun">
      <h1>{{ 'aboutUs.functions.title' | translate }}</h1>
      <ul>
        <li>{{ 'aboutUs.functions.item1' | translate }}</li>
        <li>{{ 'aboutUs.functions.item2' | translate }}</li>
        <li>{{ 'aboutUs.functions.item3' | translate }}</li>
      </ul>
    </div>
    
  </div>
  <app-chatbot></app-chatbot>
</section>


<app-footer></app-footer>
