<div class="top-bar">
  <div class="left-items">
      <div class="item-green">
          <i class="fas fa-envelope"></i> {{ 'topBar.email' | translate }}: excise.mail.com
      </div>
      <div class="top-bar-item">
          <i class="fas fa-phone"></i> {{ 'topBar.phone' | translate }}: 1800555620
      </div>
      <div class="top-bar-item">
          <i class="fas fa-clock"></i>&nbsp; {{ 'topBar.openHours' | translate }}: Mon - Sat 10.00 am - 5.00 pm
      </div>
  </div>
  <div class="right-items">
      <div class="top-bar-item">
          {{ 'topBar.departmentComplaintTrack' | translate }}  
      </div>
  </div>
</div>
